<div class="spinner-container">
    <div class="spinner-grow" role="status">
    </div>
    <span style="color: #ffffff;  padding: 8px 16px; border-radius: 4px; font-weight: bold; ">لطفا منتظر بمانید</span>
</div>

@code {

}
